@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    padding-bottom: 50px;
    /* margin: 0px; */
    background-color: rgba(156, 152, 152, 0.913);
}

.main{
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;
    width: 40%;
}

.container1{

    margin-top: 100px;
    height: 35vh;
    background-color: #FCEBEB;
}

.top-container{
    height: 35vh;
    display: flex; 
}


.input-container{
    display: flex;
}

.barcode-container{
    display: flex;
    margin-bottom: -5px;
}

.icon-container{
    display: flex; 
    width: 200px;
}

#polygon1{

    height: 160px;
    width: 140.5px;
    padding-top: 31px ;
    padding-bottom: 10px;
    margin-left: -43px;
}

#company-name{
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 11px;
}

.contact-container{
    width: 450px;
    padding-top: 31px ;
    margin-right: 5px;
    display: grid;
    color: rgb(243, 79, 79);
}

.website-container{
    padding-top: 5px;
    padding-bottom: 20px;
    height: 27px;
    width: 100%;
    text-align: center;
    background-color: #FF1515;

}

a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

#cash-deposit-card{

    font-size: 20px;
    width: 200px;
}

.icon-container{
  
    margin-top: 40px;
    margin-left: 80px;
}

#icon{

    height: 10px;
    margin-right: 10px;
    margin-top: 4px;
}

b{
    color: black;
}

.number{

font-size: 22px;
padding-top: 40px;
margin-right: 80px;

}

.container2{
    margin-top: 60px;
    padding-bottom: 60px;
    height: 35vh;
    background-color: white;
    border: 2px solid rgba(156, 152, 152, 0.913);
}


.bottom-container{

    background-color: white;
    margin-top: 15px;
    padding-bottom: 10px;
    height: 258px;

}

.input-container-main{

    padding-top: 11px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: #32A2E1;
    height: 60px;
    display: flex;
    background: linear-gradient(130deg, #32A2E1 90%, #fff 10%);
}

#polygon2{
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-left: 50px;

}

.input-container{

    background-color: #32A2E1;

    width: 450px;
    height: 35px;

}

#barcode{
    margin-top: 10px;
    width: 110px;
    height: 60px;
    padding-bottom: 23px;
}

.batch-container{
    padding-left: 20px;
    padding-bottom: 5px;
    border: none;
    width: 400px;
    text-align: left;
}

#pin{
    color: white;
    font-size: 25px;
    padding-left: 10px;
    text-align: unset;
}

.instructions-container{
    font-size: 20px;
}

#instructions{
    padding-bottom: 10px;
}

h1, h2, h3, p{
    font-family: 'Roboto', sans-serif;
}

#company-name-heading{

    width: 250px;
    font-size: 14px;
}

#hr2{
    margin-top: -30px;
}

input{
    outline: none;
}